body {
    background-color:#ceb7b6;
    color: #fff;

}
.navbar-nav .nav-link {
    font-size: 18px;
}
.container {
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
}

.cdClass{
    background-color: #fff;
    border-radius: 10px;
}


